/* Tooltip container */
.tooltip {
  position: absolute;
  display: inline-block;

  /* Tooltip text */
  .tooltip-text {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    bottom: 110%; /* position the tooltip above the content */
    left: -13px;
    //transform: translateX(-50%);
    background-color: #fff;
    color: #252422;
    padding: 7px 8px;
    border-radius: 8px;
    font-size: 15px;
    white-space: nowrap;
    z-index: 2;
    transition: all 0.2s ease-in-out;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);

    &::before {
      content: '';
      position: absolute;
      top: 100%; /* position the arrow at the top of the tooltip text */
      left: 20px;
      width: 8px;
      height: 8px;
      display: inline-block;
      background-color: #fff;
      transform: translateY(-50%) rotate(45deg);
      //border-width: 8px;
      //border-style: solid;
      //border-color: #fff transparent transparent transparent;
      box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.2),
        /* top shadow */ 2px 0 3px -2px rgba(0, 0, 0, 0.2), /* right shadow */ 0 0 0 0 transparent,
        /* bottom shadow */ 0 0 0 0 transparent; /* left shadow */
    }

    &[data-align='bottom'] {
      top: 110%;

      &::before {
        bottom: 100%;
        border-color: transparent transparent #333 transparent;
      }
    }

    &[data-align='top'] {
      bottom: calc(110% + 8px); /* position the tooltip above the content */
      ::before {
        top: 100%; /* position the arrow at the top of the tooltip text */
        border-color: #333 transparent transparent transparent;
      }
    }
  }

  /* Tooltip text visibility */
  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

  /* Adjust arrow position for bottom alignment */
  .tooltip .tooltip-text[data-align='bottom']::before {
    top: 100%;
    bottom: auto;
    border-color: #333 transparent transparent transparent;
  }

  .tooltip .tooltip-text[data-align='top']::before {
    bottom: 100%;
    top: auto;
    border-color: #333 transparent transparent transparent;
  }
}
