.custom-common-date-picker.ant-picker {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  border-width: 1.5px;
  border-color: #e3e3e2;
  border-style: solid;

  .ant-picker-input {
    input {
      height: 100%;
      font-weight: 500;
      font-size: 20px !important;
      line-height: 25px;
      color: #252422;
    }
  }
}
.ant-picker-input {
  input {
    color: #252422;
    height: 100%;
    font-weight: 500;
    font-size: 20px !important;
    line-height: 25px;
  }
}

.common-date-time-picker.ant-picker-dropdown {
  .ant-picker-panel-container {
    width: 350px;
    position: relative;

    .ant-picker-panel {
      width: 100%;
    }

    .ant-picker-panel-layout {
      .ant-picker-panel {
        .ant-picker-date-panel {
          width: 100%;

          .ant-picker-header {
            position: relative;
            padding: 14px 16px 6px 16px;
            border-bottom: none;
            width: 100%;

            button {
              line-height: initial;
            }

            button.ant-picker-header-super-prev-btn {
              display: none;
            }

            button.ant-picker-header-prev-btn,
            .ant-picker-header-next-btn {
              position: absolute;
              top: 4px;
              color: #0a7aff;
              font-weight: 600;
              font-size: 20px;
              line-height: 24px;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;

              .ant-picker-next-icon::before,
              .ant-picker-prev-icon::before {
                position: absolute;
                top: 0;
                inset-inline-start: 0;
                display: inline-block;
                width: 10px;
                height: 10px;
                border: 0 solid currentcolor;
                border-block-start-width: 2px;
                border-block-end-width: 0;
                border-inline-start-width: 2px;
                border-inline-end-width: 0;
                content: '';
              }
            }

            .ant-picker-header-next-btn {
              right: 14px;
            }

            button.ant-picker-header-prev-btn {
              right: 42px;
            }

            .ant-picker-header-view {
              width: fit-content;
              flex: initial;
              font-weight: 600;
              font-size: 17px;
              line-height: 24px;
              margin-right: 3px;

              .ant-picker-year-btn {
                margin-inline-start: 4px;
              }
            }
          }

          .ant-picker-body {
            padding: 13px 7px 9px 7px;

            .ant-picker-content {
              thead {
                tr {
                  th {
                    padding: 0px;
                    width: 48.43px;
                    height: 18px;
                    color: rgba(60, 60, 67, 0.3);
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 28px;
                    font-family: 'SF Pro Text';
                    text-transform: uppercase;
                  }
                }
              }

              tbody {
                tr {
                  td {
                    width: 48.86px;
                    height: 51px;
                    font-weight: 500;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    margin: 10px !important;
                  }
                }

                td.ant-picker-cell {
                  padding: 0;
                  // visibility: hidden;
                  // display: none;
                }

                .ant-picker-cell.ant-picker-cell-in-view {
                  // visibility: visible;
                  // display: flex;
                }

                .ant-picker-cell-inner {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: transparent;
                }

                td.ant-picker-cell-in-view.ant-picker-cell-selected {
                  background: rgba(10, 122, 255, 0.12);
                  border-radius: 50%;

                  .ant-picker-cell-inner {
                    color: #0a7aff;
                    font-weight: 600;
                  }
                }

                td.ant-picker-cell.ant-picker-cell-start.ant-picker-cell-in-view {
                  .ant-picker-cell-inner {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                  }
                }

                .ant-picker-cell.ant-picker-cell-in-view.ant-picker-cell-today {
                  // background: rgba(10, 122, 255, 0.12);
                  border-radius: 50%;
                  color: #0a7aff;

                  .ant-picker-cell-inner::before {
                    position: absolute;
                    top: 0;
                    inset-inline-end: 0;
                    bottom: 0;
                    inset-inline-start: 0;
                    z-index: 1;
                    border: none;
                    border-radius: 4px;
                    content: '';
                    background: transparent;
                  }
                }
              }
            }
          }
        }

        .ant-picker-time-panel {
          display: none;
        }
      }
    }
  }
  .ant-picker-dropdown .ant-picker-cell-disabled {
    color: rgba(0, 0, 0, 0.88);
    background-color: transparent;
  }

  .ant-picker-footer {
    border: none;
    margin-bottom: 0;
    padding: 16px;

    .ant-picker-ranges {
      display: none;
    }
  }

  .ant-picker-footer-extra {
    border-bottom: none;
  }

  .ant-switch .ant-switch-handle {
    width: 48px;
    height: 31px;
  }

  .ant-switch:hover:not(.ant-switch-disabled) {
    background: rgba(118, 118, 128, 0.12);
  }

  .ant-switch.ant-switch-checked {
    background-color: rgba(118, 118, 128, 0.12);
  }

  .ant-switch.ant-switch-checked .ant-switch-handle {
    inset-inline-start: calc(100% - 50px);
  }

  .ant-switch-inner {
    padding-inline-start: 5px;
    padding-inline-end: 5px;

    .ant-switch-inner-checked {
      color: #252422;
      text-align: left;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      margin-top: 5px;
    }

    .ant-switch-inner-unchecked {
      color: #252422;
      text-align: right;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      margin-top: -18px;
      margin-inline-start: 0;
      margin-inline-end: 0;
      z-index: 9999;
      position: relative;
    }
  }

  .ant-switch .ant-switch-inner .ant-switch-inner-checked {
    margin-inline-start: 0;
    margin-inline-end: 0;
    position: relative;
    z-index: 99999;
  }
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cursor-pointer-input input {
  cursor: pointer;
}
