.banner-image {
  background-image: url('/assets/images/bannerDashBoard.png');
  background-color: #675dbb;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 303px;
  width: 100%;
  margin: auto;
}
