.ant-drawer-content-wrapper {
  top: 80px !important;
  box-shadow: none !important;
  border-left: 1px solid #e3e3e2;
}

.ant-drawer-mask {
  background: transparent !important;
}

.ant-drawer-body {
  padding: unset !important;
}
