.routeContent::after {
  display: block;
  position: absolute;
  top: -10px;
  color: #5d23bb;
  font-size: 13px;
  width: 100%;
  left: 50% !important;
  transform: translate(-50%, 0) !important;
  content: 'Navigating to' !important;
}
