.tabsVote {
  .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #5d23bb;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.6px;
  }

  .ant-tabs .ant-tabs-ink-bar {
    background-color: #5d23bb;
  }

  .ant-tabs-tab-btn {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.6px;
  }
  .ant-tabs .ant-tabs-tab:hover {
    color: #391572;
  }
  .ant-tabs-nav::before {
    opacity: 0;
  }
}
