.node-and-connector {
  svg {
    &:first-child {
      position: absolute;
      top: 50%;
      right: 200%;
      transform: translate(295px, -50%);
      z-index: 1;
    }
    &:nth-child(2) {
      position: absolute;
      top: 50%;
      right: 200%;
      transform: translate(200px, -50%);
      z-index: 1;
      &:hover {
        cursor: pointer;
        path {
          stroke: #a17fd8;
        }
      }
    }
  }

  .node {
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .icon {
    svg {
      width: 40px;
      height: 40px;
    }
  }
}
