.node-and-connector-pro {
  //&:hover .plus-icon {
  //  opacity: 1 !important;
  //
  //  path {
  //    stroke: #a17fd8;
  //  }
  //}

  .node {
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .plus-icon__new-cp {
      top: 50%;
      left: unset;
      right: -34px;
      transform: translate(0, -50%);
    }
  }

  .node_enforcer {
    &:hover {
      background-color: #efe9f8;
    }

    &::before {
      position: absolute;
      display: inline-block;
      width: 10px;
      height: 20px;
      top: 50%;
      right: 0;
      transform: translate(100%, -50%);
      content: '';
      background-color: transparent;
    }
  }

  .node.end-node-preview {
    cursor: unset;
  }

  .node.end-node-preview:hover {
    background-color: #f7f7f8;
    border: 3px dashed #e5e7eb;

    & + span.nameCp {
      color: #898988;
    }
  }

  .node .plus-icon {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    opacity: 0;

    &__new-cp {
      top: 50%;
      right: -38px;
      transform: translate(0, -50%);
    }

    &__new-route {
      right: unset;
      top: unset;
      bottom: -38px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &:hover {
      opacity: 1;

      path {
        stroke: #a17fd8;
      }
    }
  }

  .right-icon {
    position: absolute;
    top: 50%;
    right: 73%;
    transform: translate(200px, -50%);
    z-index: 1;

    &:hover {
      cursor: pointer;

      path {
        stroke: #a17fd8;
      }
    }
  }
}

.node_can_config {
  cursor: pointer;

  &:hover:not(.add-primary-section) {
    background-color: #f7f7f8;
    border: 3px solid rgba(93, 35, 187, 0.5);
  }

  &.add-primary-section:hover {
    cursor: default;
  }

  &:hover:not(.add-primary-section) + span {
    color: #5d23bb;
  }

  &.node_root:hover + span {
    opacity: 0;
  }

  &.node_root:hover + .preview {
    opacity: 1;
  }

  &:hover > .plus-icon {
    opacity: 1;

    path {
      stroke: #a17fd8;
    }
  }
}

.route_has_icon::after {
  display: block;
  position: absolute;
  top: -10px;
  right: 45%;
  content: url('/assets/images/wrench_icon.svg');

  &:not(.add-primary-section) {
    cursor: pointer;
  }
}

.route_has_icon:hover::after:not(.add-primary-section),
.route_active_icon::after:not(.add-primary-section) {
  content: url('/assets/images/wrench_icon_active.svg');
  &.add-primary-section:hover {
    cursor: default;
  }
}

div.route_has_icon:hover:not(.add-primary-section) {
  border-bottom: 3px solid rgba(#5d23bb, 0.5);

  .checkpoint-node-route-arrow {
    border-color: rgba(#5d23bb, 0.5);
  }
}

.node:has(.route_has_icon:hover) {
  border: 3px solid #e5e7eb;
}

.node.border-violet-version-5:has(.route_has_icon:hover) {
  border: 3px solid #5d23bb;
  background-color: #ffffff;

  & + span.nameCp {
    color: #5d23bb;
  }
}

.nameCp {
  white-space: nowrap;
  max-width: 100px;
}

.node:has(.route_has_icon:hover) + span {
  color: #898988;
  opacity: 1;
}

.node:has(.route_has_icon:hover) .plus-icon {
  opacity: 0;
}

div.route_has_alert:hover {
  border-bottom: 3px solid rgba(#5d23bb, 0.5);

  .checkpoint-node-route-arrow {
    border-color: rgba(#5d23bb, 0.5);
  }
}

.checkpoint-node-route.add-primary-section {
  cursor: default;
}

.node:has(.route_has_alert:hover),
.node:has(.checkpoint-node-route:hover) {
  border-color: #e5e7eb;
  background-color: #ffffff;

  & + span {
    color: #898988;
  }

  & .plus-icon__new-cp {
    opacity: 0;
  }

  &.border-dashed {
    border-style: dashed;
    background-color: #f7f7f8;
  }
}

//.node:has(.checkpoint-node-route:hover) {
//
//}
//
//.node:has(.route_has_alert:hover) + span,
//.node:has(.checkpoint-node-route:hover) + span {
//  color: #898988;
//}

//.node:has(.checkpoint-node-route:hover) .plus-icon__new-cp,
//.node:has(.route_has_alert:hover) .plus-icon__new-cp {
//  opacity: 0;
//}

// for route
.route__active {
  border-color: #5d23bb;

  &:hover {
    border-color: rgba(#5d23bb, 0.5);
  }

  .checkpoint-node-route-arrow {
    border-color: #5d23bb;
    &.add-primary-section:hover {
      cursor: default;
    }
  }
}

.sub-branch {
  margin-left: var(--margin-left);
}
